1 (a)

In [1]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

1(b)

In [2]:
def fibonacci(n):
    if n <= 0:
        return 0
    elif n == 1:
        return 1
    else:
        return fibonacci(n - 1) + fibonacci(n - 2)

1 (c)

In [4]:
def print_array_recursive(arr, index):
    if index < len(arr):
        print(arr[index])
        print_array_recursive(arr, index + 1)


arr = [1, 2, 3, 4, 5]

print("Printing  elements:")
print_array_recursive(arr, 0)

Printing  elements:
1
2
3
4
5

1 (d)

In [5]:
def powerN(base, n):
    if n == 0:
        return 1
    else:
        return base * powerN(base, n - 1)


print(powerN(3, 1))  # Output: 3

3

2 (a)

In [14]:
def decimal_to_binary(n):
    if n == 0:
        return "0"
    elif n == 1:
        return "1"
    else:
        return decimal_to_binary(n // 2) + str(n % 2)


decimal_num = int(input("Enter a decimal number: "))
print (decimal_to_binary(decimal_num))

Enter a decimal number: 10
1010

2(b)

In [15]:
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None

def add_linked_list_recursive(node):
    if node is None:
        return 0
    else:
        return node.value + add_linked_list_recursive(node.next)


head = Node(1)
head.next = Node(2)
head.next.next = Node(3)
head.next.next.next = Node(4)
head.next.next.next.next = Node(5)


total_sum = add_linked_list_recursive(head)

print("Sum of linked list elements:", total_sum)

Sum of linked list elements: 15

2(c)

In [17]:
class Node:
    def __init__(self, value):
        self.value = value
        self.next = None

def print_linked_list_reversed(node):
    if node is None:
        return
    else:
        print_linked_list_reversed(node.next)
        print(node.value)


head = Node(10)
head.next = Node(20)
head.next.next = Node(30)
head.next.next.next = Node(40)


print_linked_list_reversed(head)

40
30
20
10

3

In [24]:
def hocBuilder(height):
    if height <= 0:
        return 0
    elif height == 1:
        return 8
    else:
        return 8 + (height - 1) * 5 + hocBuilder(height - 1)


height = int(input("height: "))


total_cards = hocBuilder(height)

print(f" Cards: {total_cards}.")

height: 4
 Cards: 62.

4(a)

In [26]:
def print_pattern(n, current=1):
    if current > n:
        return
    else:
        for i in range(1, current + 1):
            print(i, end=" ")
        print()
        print_pattern(n, current + 1)


n = int(input("Number: "))
print_pattern(n)

Number: 5
1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

4(b)

In [32]:
def print_pattern(n, current_row=1, current_col=1):
    if current_row > n:
        return
    elif current_col > current_row:
        print()
        print_pattern(n, current_row + 1, 1)
    else:
        if current_col == 1:
            print(" " * (2 * (n - current_row)), end="")
        print(current_col, end=" ")
        print_pattern(n, current_row, current_col + 1)

n = int(input("Number: "))
print_pattern(n)

Number: 5
        1
      1 2
    1 2 3
  1 2 3 4
1 2 3 4 5

5

In [33]:
import sys
sys.setrecursionlimit(10000)

class FinalQ:
    def print(self, array, idx):
        if idx < len(array):
            profit = self.calcProfit(array[idx])
            print(f"Profit for investment {array[idx]} USD: {profit}")
            self.print(array, idx + 1)

    def calcProfit(self, investment):
        if investment <= 100000:
            setup_cost = 25000
            profit_100k = investment - setup_cost
            profit = (profit_100k * 4.5) / 100
        else:
            setup_cost = 25000
            profit_100k = 100000 - setup_cost
            profit_above_100k = (investment - 100000) * 8 / 100
            profit = (profit_100k * 4.5 / 100) + profit_above_100k

        return profit

# Tester
array = [25000, 100000, 250000, 350000]
f = FinalQ()
f.print(array, 0)

Profit for investment 25000 USD: 0.0
Profit for investment 100000 USD: 3375.0
Profit for investment 250000 USD: 15375.0
Profit for investment 350000 USD: 23375.0